a {
  color: white;
  transition: background-color 0.33s ease;
  text-decoration: none;
}

p i a:hover {
  background-color: rgb(61, 129, 112);
}

a:visited {
  color: white;
  text-decoration: none;
}