.Info-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  margin-left: 4rem;
}

.Duke,
.RS,
h4 a {
  text-decoration: none;
  transition: background-color 0.33s ease;
  display: flex;
  align-items: flex-end;
}

.Duke:hover {
  text-decoration: none;
  background-color: rgb(61, 129, 112);
}

.RS:hover {
  background-color: rgb(61, 129, 112);
}