nav {
  background-color: grey;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding-inline: 1rem;
  padding-block: .5rem;
}

nav li a.active {
  font-weight: bold;
}

nav li a:hover {
  background-color: green;
}